body{
    background-color: white;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
p{
    font-family: sans-serif;
    line-height: 25px;
    
}
h1{ 
    font-family: sans-serif;
    font-weight: normal;
}
h2{
    font-family: sans-serif
}
h3{
    font-family: sans-serif
}
a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visted{
    color:blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: #009879;
    background-color: transparent;
    text-decoration: none;
}